.app-header {
  background: #BDBDBD;
  color:white;
  padding: 20px;
}

.app-search-wrapper {
  background: #E0E0E0;
  padding:60px 0px 60px 0px;
  margin-bottom: 30px;
}

.app-content {
  width: 1000px;
  margin:  auto;
}